*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* header space here */
header img {
    width: 250px;
    height: auto;
}

/* navigation area here */
nav {
    background-color: black;
    margin: 5px;
}
ul {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 15px;
}
ul li {
    list-style-type: none;
    color: white;
}


/* main area here */
main h1 {
    color: red;
    font-size: 30px;
    margin: 5px;
}

.p1 {
    padding: 10px;
    margin: 5px;
    color: grey;
    border: 1px solid gray;
}

h2 {
    color: gray;
    margin: 5px;
}

main p {
    padding: 0px;
    margin: 5px;
    color: grey;
}

main img {
    width: 300px;
    margin: 5px;
}

main a {
    margin: 5px;
}

footer p {
text-align: center;
color: grey;
}

